<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="icreate.fresco"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fresco_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="icreate.fresco.FrescoMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="@xml/searchable" />
        </activity>
        <activity
            android:name="icreate.fresco.AddDeck"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icreate.fresco.CardsViewPager"
            android:label="@string/app_name"
            android:parentActivityName="icreate.fresco.FrescoMain"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="icreate.fresco.FrescoMain" />
        </activity>
        <activity
            android:name="icreate.fresco.MatchingGame"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="icreate.fresco.CardsViewPager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="icreate.fresco.CardsViewPager" />
        </activity>
        <activity
            android:name="icreate.fresco.AddEditActivity"
            android:label="@string/app_name"
            android:parentActivityName="icreate.fresco.CardsViewPager"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="icreate.fresco.CardsViewPager" />
        </activity>
        <activity
            android:name="icreate.fresco.PlayCards"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icreate.fresco.EditDeck"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
